env DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.czzmcgozqpcxulcuidgf.supabase.co:5432/postgres" NEXTAUTH_URL="http://localhost:3000" NEXTAUTH_SECRET="changeme" RESEND_API_KEY="" UPLOADTHING_SECRET="changeme" UPLOADTHING_APP_ID="app_..."
